* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Garamond'; 
    text-align: justify;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }

  /* Create Main image */
  .main {
    height: 100vh; /* vh stands for view-port height, and 1vh is 1% of screen height */
    padding: 0 0px;
  }

  .main img {
    margin: auto;
    margin-top: 20px;
    vertical-align: middle;
    max-height: 90%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .cv {
    margin-left: 50px;
    margin-right: 50px;
  }

  .about {
    margin-left: 50px;
    margin-right: 50px;
  }


  /* Image rows */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  
  /* Create four equal columns that sits next to each other */
  .singlecol {
    flex: 80%;
    max-width: 80%;  
    padding: 0 5px;
    vertical-align: middle;
    margin:    0 auto;
  }

  .singlecol img {
    margin-top: 15px;
    margin-bottom: 40px;
    vertical-align: middle;
    max-width: 60%;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    /* flex: 33%;
    max-width: 33%; */
    flex: 50%;
    max-width: 50%;
    padding: 0 5px;
  }
  
  .column img {
    margin-top: 15px;
    margin-bottom: 40px;
    vertical-align: middle;
    width: 90%;
  }
  
 /* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 900px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .singlecol {
      flex: 100%;
      max-width: 100%;
    }
    .singlecol img {
      max-width: 90%;
    }
  }

 ul {
    padding-inline-start: 0;
 }

 /* The side navigation menu */
 .sidebar {
    margin: auto;
    padding: 0;
    width: 200px;
    /* background-color: #f1f1f1; */
    background-color: #ffffff;
    position: fixed;
    height: 60%;
    overflow: auto;
    justify-content: center;
    vertical-align: middle;
    margin-top: 100px;
    margin-left: 50px;
    /* margin-right: 30px; */
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding: 5px;
    text-decoration: none;
  }

   /* Active/current link */
   .nav li a.active {
    background-color: #90b0a4;
    color: white;
  }
  
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #bcd6cc;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 300px;
    padding: 1px 16px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;

      /* border: 1px solid black; */
      text-align: center;
      left: 50%;
      margin-left: -180px; 

      margin-bottom:10px;
      margin-top:30px;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

      /* Links on mouse-over */
    .sidebar a:hover:not(.active) {
      background-color: #bcd6cc;
      color: white;
    }

    .nav li a.active {
      background-color: #90b0a4;
      color: white;
    }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .nav li a.active {
      background-color: #90b0a4;
      color: white;
    }
  }


  /* ------- */

  .page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    overflow-y: auto;
    z-index: 0;
    background-color: hsl(0,0%,100%);
}

  .page:target {
    left: 0vw;
    z-index: 1;
}